<div class="row col-5">
	<label for="name" class="form-label">Name</label>
	<input type="text" class="form-control" th:field="*{name}" name="name" id="name" placeholder="Name" autofocus="true"> 
	<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span> 
	<br/>
</div>
<div class="row col-5">
	<label for="vendor" class="form-label">Vendor</label> 
	<input type="text" class="form-control" th:field="*{vendor}" id="vendor" placeholder="Vendor"> 
	<span th:if="${#fields.hasErrors('vendor')}" th:errors="*{vendor}"></span> 
	<br/>
</div>
